<div class="social-login">
  <p>Ou continue com</p>
  <div class="social-icons">
    <button pButton type="button" icon="fab fa-google" class="p-button-rounded outlined google-icon" aria-label="Google"></button>
    <button pButton type="button" icon="fab fa-facebook-f" class="p-button-rounded outlined facebook-icon" aria-label="Facebook"></button>
    <button pButton type="button" icon="fab fa-github" class="p-button-rounded outlined github-icon" aria-label="GitHub"></button>
    <button pButton type="button" icon="fab fa-apple" class="p-button-rounded outlined apple-icon" aria-label="Apple"></button>
  </div>
</div>
