<header class="app-header">
  <nav class="nav-bar">
    <div class="left">
      <button
        class="menu-btn"
        type="button"
        (click)="toggleMenu()"
        aria-label="Menu"
      >
        <i class="pi pi-bars"></i>
      </button>
      <div class="logo">
        <i class="pi pi-briefcase"></i>
        <span>{{ title }}</span>
      </div>
    </div>

    <ul class="nav-links">
      <li *ngFor="let i of items">
        <a
          [routerLink]="i.routerLink"
          routerLinkActive="active"
          (click)="isMenuOpen = false"
        >
          <i [ngClass]="i.icon"></i>{{ i.label }}
        </a>
      </li>
    </ul>

    <div class="right">
      <div class="user">
        <div class="name">{{ userName }}</div>
        <small class="email">{{ userEmail }}</small>
      </div>
      <button class="logout-btn" type="button" (click)="logout()">Sair</button>
    </div>
  </nav>

  <div class="mobile-nav" [class.open]="isMenuOpen">
    <ul>
      <li *ngFor="let i of items">
        <a
          [routerLink]="i.routerLink"
          routerLinkActive="active"
          (click)="toggleMenu()"
        >
          <i [ngClass]="i.icon"></i>{{ i.label }}
        </a>
      </li>
    </ul>
    <div class="mobile-user">
      <div class="name">{{ userName }}</div>
      <small class="email">{{ userEmail }}</small>
      <button class="logout-btn" type="button" (click)="logout()">Sair</button>
    </div>
  </div>
</header>
