<div class="user-list-container">
  <div class="filters" aria-label="Filtros">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        placeholder="Buscar por nome"
        [(ngModel)]="filterName"
        (input)="applyFilters()"
        aria-label="Buscar por nome"
      />
    </span>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        placeholder="Buscar por e-mail"
        [(ngModel)]="filterEmail"
        (input)="applyFilters()"
        aria-label="Buscar por e-mail"
      />
    </span>
    <button
      pButton
      type="button"
      label="Limpar filtros"
      class="clear-btn"
      (click)="clearFilters()"
    ></button>
  </div>

  <p-table
    [value]="filteredUsers"
    [paginator]="true"
    [rows]="rows"
    [rowsPerPageOptions]="[10, 20, 50]"
    [loading]="loading"
    sortMode="multiple"
    dataKey="id"
    responsiveLayout="stack"
    breakpoint="768px"
    [scrollable]="true"
    scrollHeight="400px"
    aria-label="Tabela de usuários"
  >
    <ng-template pTemplate="caption">
      <ng-container *ngIf="loading">
        <p-skeleton
          *ngFor="let _ of skeletonRows"
          height="2rem"
          class="mb-2"
        ></p-skeleton>
      </ng-container>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th>Avatar</th>
        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="profile">Perfil <p-sortIcon field="profile"></p-sortIcon></th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td>
          <img [src]="user.avatarUrl" class="avatar" alt="" />
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.profile }}</td>
        <td class="actions">
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-text"
            (click)="onEdit(user)"
            aria-label="Editar"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="confirmDelete(user)"
            aria-label="Excluir"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="6">Nenhum usuário encontrado</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
