<div class="login-wrapper p-d-flex p-jc-center p-ai-center">
  <p-card class="login-card">
    <ng-template pTemplate="header">
      <div class="login-header">
        <i class="pi pi-lock icon-lock"></i>
        <span>Bem-vindo</span>
      </div>
    </ng-template>

    <div class="p-fluid login-form">
      <p-message
        *ngIf="error"
        severity="error"
        [text]="error"
        class="p-mb-3"
      ></p-message>

      <div class="p-field p-mt-2">
        <label for="username">Usuário</label>
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            id="username"
            [(ngModel)]="username"
            pInputText
            placeholder="Digite seu usuário"
          />
        </span>
      </div>

      <div class="p-field p-mt-3">
        <label for="password">Senha</label>
        <span class="p-input-icon-left">
          <i class="pi pi-key"></i>
          <p-password
            inputId="password"
            [(ngModel)]="password"
            placeholder="Digite sua senha"
            [toggleMask]="true"
            [feedback]="false"
            styleClass="w-full"
          ></p-password>
        </span>
      </div>

      <button
        pButton
        type="button"
        label="Entrar"
        class="p-mt-4 login-button w-full"
        (click)="login()"
      ></button>
    </div>
  </p-card>
</div>
