<!-- src/app/modules/auth/forgot-password/forgot-password.component.html -->
<div class="forgot-wrapper">
  <p-card class="forgot-card">
    <ng-template pTemplate="header">
      <div class="forgot-header">
        <i class="pi pi-envelope icon-envelope"></i>
        <span>Recuperar Senha</span>
      </div>
    </ng-template>
    <div class="forgot-body">
      <div class="p-fluid">
        <div class="p-field">
          <label for="email">E-mail</label>
          <span class="p-input-icon-left">
            <i class="pi pi-envelope"></i>
            <input
              id="email"
              type="email"
              pInputText
              placeholder="Digite seu e-mail"
              [(ngModel)]="email"
            />
          </span>
        </div>
        <button
          pButton
          type="button"
          label="Enviar"
          class="send-button"
          (click)="send()"
          [loading]="loading"
        ></button>
      </div>
    </div>
  </p-card>
  <p-toast></p-toast>
</div>
