<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-section footer-brand">
      <i class="pi pi-globe footer-icon"></i>
      <span class="footer-text"
        >Desenvolvido por <strong>Gustavo Vasconcelos</strong></span
      >
    </div>
    <div class="footer-section footer-links">
      <a
        href="https://www.linkedin.com/in/gustavo-vasconcelos-software-engineer/"
        target="_blank"
        class="footer-link"
      >
        <i class="pi pi-linkedin"></i><span>LinkedIn</span>
      </a>
      <a
        href="https://github.com/sasgustav/teste-desenvolvimento-angular-maxprocess"
        target="_blank"
        class="footer-link"
      >
        <i class="pi pi-github"></i><span>GitHub</span>
      </a>
    </div>
  </div>
</footer>
<div class="down-bar">
  Teste de desenvolvimento Frontend para fins de avaliação | © 2025
</div>
